[Unit]
Description=Zoom update service
After=network.target
After=network-online.target mnt-suporte.mount

[Service]
User=root
ExecStart=/usr/local/cmc/zoom-updater.sh

[Install]
WantedBy=multi-user.target
