#ETv5

#Conexão LDAP
export uri_ldap="uri ldap://10.0.0.5/"
export base_ldap="base ou=Usuarios,dc=pr,dc=gov,dc=br"
export base1_ldap="base ou=Grupos,dc=pr,dc=gov,dc=br"

#Bind LDAP
export binddn="binddn cn=authproxy,dc=pr,dc=gov,dc=br"
export bindpw="bindpw ldapcamara"

