# VS Code
.vscode/

# Logs
logs/
log/
*.log.*
*.log

# dotenv environment variables file
.env

# Vagrant
.vagrant
vagrant/testes

# Python venv molecule
molecule-venv/

# Node modules
node_modules/

# Yarn
yarn.lock

# Conf
all.yml