[Unit]
Wants=network-online.target
After=network-online.target

[Service]
Restart=on-failure
RestartSec=60
EnvironmentFile={{ estacao_ad_join_env }}
ExecStart=/bin/bash {{ estacao_bootsh }}

[Install]
WantedBy=multi-user.target
