[libdefaults]
	default_realm = {{estacao_ad_domain | upper}}
	rdns = false
	dns_lookup_realm = false
	dns_lookup_kdc = false
	ticket_lifetime = 24h
	renew_lifetime = 7d

# The following krb5.conf variables are only for MIT Kerberos.
	kdc_timesync = 1
	ccache_type = 4
	forwardable = true
	proxiable = true


# The following libdefaults parameters are only for Heimdal Kerberos.
	fcc-mit-ticketflags = true
udp_preference_limit = 0

[realms]
	{{estacao_ad_domain | upper}} = {
{% for ip_name in (ad_domain_controllers | split(', ')) %}
		kdc = {{ip_name}}
{% endfor %}
		admin_server = {{estacao_ad_domain | lower}}
		default_domain = {{estacao_ad_domain | lower}}
	}

[domain_realm]
	.{{estacao_ad_domain | lower}} = {{estacao_ad_domain | upper}}