#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Google Chat
Exec=/usr/bin/google-chrome --app=https://chat.google.com/
Icon=/usr/share/icons/hicolor/scalable/apps/google-chat.svg
Categories=Network;InstantMessaging;
StartupNotify=true
