[Unit]
Description=Boot script

# Timer que inicia 2 horas apos o boot e executa novamente a cada 6 horas
# enquanto o sistema estiver em execucao.
[Timer]
OnBootSec=2h
OnUnitActiveSec=6h

[Install]
WantedBy=timers.target
