[Unit]
Description=Zoom update service

# A timer which will start 15 minutes after boot and again every day while the
# system is running.
[Timer]
OnBootSec=15min
OnUnitActiveSec=24h

[Install]
WantedBy=timers.target
